#sidebar {
    width: 30%;
    height: 100%;
    background: #1e293b; /* Slate 800 */
    border-right: tall #334155; /* Garis vertikal pembatas */
}

#file-tree {
    background: transparent;
    border: none;
}

#main-content {
    width: 70%;
    height: 100%;
}

#note-viewer {
    display: none; /* Sembunyikan di awal */
    height: 3fr;   /* 60% dari ruang vertikal jika ditampilkan */
    background: #1e293b; /* Slate 800 */
    color: #f8fafc;
    border: round #334155;
    margin: 1 2 0 2;
}

#chat-area {
    height: 2fr;   /* 40% tinggi jika ada note-viewer, 100% jika note-viewer disembunyikan */
    padding: 0 2 1 2;
}

#chat-log {
    height: 1fr;
    background: #090d16;
    color: #f8fafc;
    border: round #475569;
    padding: 1 2;
}

#chat-input {
    height: 3;
    background: #1e293b;
    border: tall #6366f1; /* Neon indigo */
    color: #f8fafc;
    margin-top: 1;
}

#chat-input:focus {
    border: double #a5b4fc;
}